@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}

body {
    background-color: #191919;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
}

.canvas01 {
    background-color: #111;
}

.canvas02 {
    background-color: green;
}